body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./img/background1.png');
    background-size: cover;
    font-family: 'Eczar', sans-serif;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    margin: 0;

}

#content {
    position: relative;
}

#startscreen {
    width: 720px;
    height: 480px;
    position: absolute;
    top: 0;
    ;
}

#endscreen {
    width: 720px;
    height: 480px;
    position: absolute;
    top: 0;
}

#play-btn {
    position: absolute;
    width: 100px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    cursor: pointer;
}

#restart-btn {
    position: absolute;
    width: 100px;
    top: 70%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    cursor: pointer;
}

h1 {
    font-size: 42px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    margin: 20px;

}

canvas {
    background-color: black;

}

#mobile-buttons {
    width: 100%;
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: space-around;

}

#mobile-buttons img {
    width: 32px;
    height: 32px;
    margin: 10px;
}

#walk-buttons {
    display: flex;
}

#action-buttons {
    display: flex;
}

.howTopPlay {
    width: 720px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Fullscreen {
    cursor: pointer;
    text-decoration: underline;
}

.turnphone {
    display: flex;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.turnphone img {
    width: 40px;
    height: 40px;
}


@media only screen and (max-width:720px) {
    #content {
        width: 100%;
    }

    canvas {
        width: 100%;
    }

    h1 {
        display: none;
    }

    #startscreen {
        width: 100vw;
        height: 100vh;
    }

    #endscreen {
        width: 100vw;
        height: 100vh;
    }


    body {
        background-color: #F18541;
        background-image: none;
        margin: 0;
    }

    #mobile-buttons {
        display: flex;
    }

    .howTopPlay {
        display: none;
    }
}

@media only screen and (max-width:920px) {
    #content {
        width: 100%;
    }

    canvas {
        width: 100%;
    }

    h1 {
        display: none;
    }

    #startscreen {
        width: 100%;
        height: 100%;
    }

    #endscreen {
        width: 100%;
        height: 100%;
    }


    body {
        background-color: #F18541;
        background-image: none;
        margin: 0;
    }

    #mobile-buttons {
        display: flex;
    }

    .howTopPlay {
        display: none;
    }

}


@media only screen and (max-height:480px) {
    #content {
        height: 100vh;
    }

    canvas {
        height: 100vh;
    }

    #mobile-buttons {
        display: flex;
    }

    .howTopPlay {
        display: none;
    }

}

.d-none {
    display: none;
}